.container-quality{
    background-color: #FFF;
    width: 100%;
    height: 480px;
    padding: 0 10% 0 10%;
}

.container-quality img{
    float: left;
}

.info-quality{
    flex-direction: column;
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: flex-end;
}

.info-quality h2{
    text-align: right;
    font-family: 'Relaway', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    color: #8B0022;
    margin-bottom: 30px;
}

.info-quality text{
    color: #37010E;
    font-family: 'Relaway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: right;
    margin-top: 40px;
}