.container-header{
    display: flex;
    padding: 0 5% 0 3%;
    justify-content: space-between;
    align-items: center;
}

.header-item{
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 40%;
}

.header-item a{
    color: #8B0022;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.header-item button{
    color: #8B0022;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-width: 2px;
    border-color: #8B0022;
    border-radius: 8px;
    background-color: transparent;
    padding: 8px;
}